.loginPage {
	display: flex;
	flex-direction: column;
	margin-top: 180px;
	align-items: center;
	gap: 80px;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 480px;
	align-items: center;
}
.questions {
	display: flex;
	flex-direction: column;
	gap: 14px;
	width: 480px;
	align-items: center;
}
