.modal {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #1c1c21;
	border-radius: 40px;
	padding: 40px 40px 40px 60px;
	max-width: 720px;
	box-sizing: border-box;
}

.modalHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 64px;
}
