.card {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 272px;
	height: 208px;
	align-items: center;
	gap: 4px;
}

.cardsList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 32px;
	column-gap: 24px;
}
